.ui.page.grid
  .segment
    .ui.one.column.middle.aligned.relaxed.fitted.stackable.grid
      .column
        %h2.ui.left.floated.header
          Collaborate with premium Users
        .ui.clearing.divider
        %table.ui.table
          %thead
            %tr
              %th Name
              %th Email
              %th Collaborate
          %tbody
            - @premium_users.each do |x|
              %tr
                %td= x.name 
                %td= x.email
                %td= link_to "Add", "#", class: "ui button green"   