.ui.page.grid
  .ui.column.middle.aligned.relaxed.fitted.stackable.grid
    .center.aligned
      %h2
        = "Edit '#{@wiki.title}'"
      .ui.form.segment
        = render partial: "wikis/form", locals: { wiki: @wiki}
