.ui.grid
  .ui.page.grid
    .ui.two.column.middle.aligned.relaxed.fitted.stackable.grid
      .column
        .ui.segment
          %h2.ui.left.floated.header
          .ui.clearing.divider
          %table.ui.table
            %thead
              %tr
                %th Title
                %th Description
                %th Created
                %th Edit
                %th Delete
            %tbody
              = @wiki.each do |x|
                %tr x.title
                %tr x.description
                %tr x.created_at
                %tr link_to "Edit", x
                %tr link_to "Delete", x , method: :delete, data: { confirm: "Are you sure want to delete this Wiki."}      
      .ui.vertical.divider
      .column
        .ui.segment
          %h2.ui.left.floated.header
          .ui.clearing.divider
          %table.ui.table
            %thead
              %tr
                %th Title
                %th Description
                %th Created
                %th Edit
                %th Delete
            %tbody
              = @wiki.each do |x|
                %tr x.title
                %tr x.description
                %tr x.created_at
                %tr link_to "Edit", x
                %tr link_to "Delete", x , method: :delete, data: { confirm: "Are you sure want to delete this Wiki."}      





      












