.ui.page.grid
  .ui.column.middle.aligned.relaxed.fitted.stackable.grid
    .center.aligned
      %h2 
        Create your new wiki.
    .ui.form.segment
      = render partial: "wikis/form", locals: { wiki: @wiki }

