/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "semantic-ui";

/* Template */

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px;
  background: white;
}

.ui .segment{
  box-shadow: none;
}

.m-b-reset{
  margin-bottom: 0px !important;
}

.padding-reset{
  padding: 0px !important;
}

.ui .message{
  padding-top: 30px !important;
  padding-bottom:  50px !important;
}

.m-top-10{
  margin-top: 10px !important;
}

.hidden{
  opacity: 0;
}

.ui .button{
  text-transform: capitalize;
}

/* Style the Facebook and Twitter registration buttons */

.textwhite a{
  color: white;
}

/* Style the boxes on the front page */

.ui .circular .segment{
  background: #d8dee2;
}

.divider {
  position: relative;
}

.box-shadow {
  border: 1px solid #d8dee2;
  padding: 10px 10px 10px 10px;
}


//  ===================
//  = Markdown editor =
//  ===================

#preview {
  code {
    padding: 1.5em;
    border: 4px solid gray;
    border-radius: 0.2em;
  }
}
